.button {
  display: flex;
  max-width: 100%;
  min-width: 335px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  white-space: nowrap;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 66px;
}

.button--secondary {
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 15px;
}

.button--third {
  background-color: #ffffff;
  color: #1f1f1f;
  padding: 15px;
  opacity: 0.9;
}

.button--more {
  min-width: 114px;
  background-color: transparent;
  color: #3057a2;
  border: 1px solid #3057a2;
  padding: 10px;
}

@media (min-width: 1366px) {
  .button {
    min-width: 263px;
    white-space: unset;
  }

  .button--secondary {
    padding: 0 49px;
    min-height: 72px;
  }

  .button--third {
    background-color: transparent;
    padding: 0 49px;
    min-height: 72px;
    border: 1px solid #1f1f1f;
  }

  .button--more {
    min-width: 114px;
  }

  .button--secondary:hover {
    background-color: #fbce51;
    color: #1f1f1f;
  }

  .button--secondary:focus {
    border: 2px solid white;
    opacity: 0.3;
  }

  .button--third:hover {
    background-color: #1f1f1f;
    color: #ffffff;
    opacity: 1;
  }

  .button--third:focus {
    border: 2px solid white;
    opacity: 0.3;
  }

  .button--more:hover {
    background-color: #3057a2;
    color: #ffffff;
  }

  .button--more:focus {
    border: 3px solid white;
    opacity: 0.3;
  }
}
