.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 20px 290px;
  background-image: url(/images/mobile-full-bg.png);
  overflow: hidden;
  background-color: #e6dacf;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 56%;
  background-position-y: -16px;
}

.hero::before {
  content: "";
  position: absolute;
  width: 1921px;
  height: 788px;
  bottom: -18px;
  right: -132px;
  background-position: right bottom;
  background-size: 50%;
  background-repeat: no-repeat;
}

.hero__header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  margin-bottom: 40px;
  z-index: 1;
}

.hero__content {
  position: relative;
  z-index: 1;
}

.hero__header-logo-text-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #595653;
}

.hero__title {
  margin: 0 0 24px;
}

.hero__description {
  margin: 0 0 32px;
}

.hero__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

@media (min-width: 1366px) {
  .hero {
    padding: 26px 72px 130px;
    background-image: none;
  }

  .hero::before {
    bottom: -65px;
    right: -272px;
    background-size: 98%;
    background-image: url(/images/background-hero-2.png);
  }

  .hero::after {
    content: "";
    position: absolute;
    width: 83px;
    height: 122px;
    background-image: url(/images/background-hero-3.png);
    bottom: 20px;
    right: 45px;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .hero__header {
    gap: 7px;
    margin-bottom: 62px;
  }

  .hero__header-logo {
    display: flex;
  }

  .hero__header-logo-text-wrapper {
    font-size: 17px;
  }
  .hero__header-logo-image {
    width: 22px;
    height: 31px;
  }
  .hero__content {
    max-width: 542px;
    display: flex;
    flex-direction: column;
  }

  .hero__title-text {
    display: flex;
  }

  .hero__description {
    margin-bottom: 40px;
    text-align: center;
  }

  .hero__button-wrapper {
    flex-direction: row;
  }
}
