.pagination__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__list {
  display: flex;
  padding: 0 16px;
  gap: 6px;
}

.pagination__item {
  width: 10px;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.pagination-item--current {
  background-color: #313131;
}

.pagination__page-info {
  padding: 0px 6px;
  min-width: 50px;
  margin: 0 3px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  letter-spacing: 1.5px;
}

.pagination__pages-amount {
  opacity: 0.6;
}

.pagination__pages-current {
  display: inline-block;
  min-width: 12px;
}

@media (min-width: 1366px) {
  .pagination {
    position: absolute;
    content: "";
    top: 79px;
    right: 70px;
    transform: translateY(8px);
    width: 155px;
  }

  .pagination__container--business-plan {
    display: none;
  }
  .pagination__page-info {
    margin: 0 7px;
  }
}
