.project-participants {
  padding: 48px 0 100px;
}

.project-participants__title {
  margin: 0 0 40px;
  padding: 0 20px;
}

.project-participants_list-wrapper {
  width: 100%;
  margin-bottom: 33px;
  overflow: hidden;
}

.project-participants__list {
  position: relative;
  display: flex;
  height: 395px;
}

.project-participants__item {
  position: absolute;
  width: 100vw;
  flex-shrink: 0;
  padding: 0 20px;
  top: 0px;
  transition: all 0.5s ease-in-out;
}

.project-participants__item.previous {
  transform: translateX(-100%);
  left: 0;
}

.project-participants__item.next {
  transform: translateX(100%);
  right: 0;
}

.project-participants__profile-card {
  display: flex;
  min-height: 388px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-participants__avatar {
  width: 244px;
  height: 244px;
  border-radius: 50%;
  background-image: url("/images/mobile-chess-player-profile-image.png");
  background-color: #cbbfae;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: 31px;
}

.project-participants__name {
  margin: 0 0 9px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
}

.project-participants__description {
  margin: 0 0 20px;
  opacity: 0.6;
  font-size: 20px;
}

@media (min-width: 1366px) {
  .project-participants {
    position: relative;
    padding: 80px 72px 142px;
  }

  .project-participants__title {
    padding: 0;
    margin: 0 0 62px;
  }

  .project-participants_list-wrapper {
    margin-bottom: 0;
  }

  .project-participants__list {
    height: 462px;
  }
  .project-participants__item {
    padding: 0;
  }

  .project-participants__item.current-2 {
    left: calc(100% / 3 + 7px);
  }

  .project-participants__item.current-3 {
    left: calc((100% / 3) * 2 + 7px * 2);
  }

  .project-participants__avatar {
    width: 320px;
    height: 320px;
    background-image: url("/images/desktop-chess-player-profile-image.png");
  }

  .project-participants__name {
    margin-bottom: 6px;
  }
}
