.project-business-plan {
  overflow: hidden;
  padding: 48px 0 72px;
}

.project-business-plan__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 148px;
  padding: 0 20px;
}

.project-business-plan__title {
  margin: 0;
}

.project-business-plan__list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  min-height: 300px;
}

.project-business-plan__list-block {
  position: relative;
}

.project-business-plan__list-block::before {
  content: "";
  position: absolute;
  width: 335px;
  height: 182px;
  background-image: url("/images/mobile-airplane.png");
  background-repeat: no-repeat;
  top: -128px;
  z-index: 1;
  left: 19px;
}

.project-business-plan__slider-list {
  min-height: 328px;
}

.project-business-plan__slide {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transition: all 1s ease-in-out;
}

.project-business-plan__slide.previous {
  position: absolute;
  transform: translateX(-100%);
}

.project-business-plan__slide.next {
  position: absolute;
  transform: translateX(100%);
}

.project-business-plan__item {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.project-business-plan__item:last-child {
}

.project-business-plan__item--single .project-business-plan__card {
  height: 300px;
  padding-top: 62px;
  padding-bottom: 34px;
}

.project-business-plan__item--double:first-child .project-business-plan__card {
  padding-top: 62px;
  padding-bottom: 28px;
}

.project-business-plan__item--double:last-child {
  flex-grow: 1;
}
.project-business-plan__item--double:last-child .project-business-plan__card {
  padding-bottom: 34px;
}

.project-business-plan__card {
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("/images/background-business-plan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-business-plan__card-text {
  display: flex;
  margin: 0;
  line-height: 1.2;
  font-weight: 500;
}

.project-business-plan__card-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #313131;
  flex-shrink: 0;
  margin-right: 16px;
  font-weight: 600;
}

@media (min-width: 1366px) {
  .project-business-plan {
    padding: 106px 72px 94px;
  }

  .project-business-plan__title-wrapper {
    display: inline-block;
    margin-bottom: 53px;
    max-width: 806px;
    padding: 0;
  }

  .project-business-plan__title {
    display: inline;
    line-height: 1.2;
  }

  .project-business-plan__comment {
    position: relative;
    display: inline-block;
    max-width: 280px;
    top: -2px;
    right: -7px;
  }

  .project-business-plan__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    column-gap: 18px;
    row-gap: 18px;
  }

  .project-business-plan__list-block::before {
    width: 401px;
    height: 235px;
    background-image: url("/images/desktop-airplane.png");
    top: 168px;
    left: 883px;
  }

  .project-business-plan__item,
  .project-business-plan__item--double:first-child {
    min-height: unset;
    padding: 0;
  }

  .project-business-plan__card {
    padding: 21px;
  }

  .project-business-plan__list .project-business-plan__item:nth-child(3) {
    grid-row: span 2;
  }

  .project-business-plan__list .project-business-plan__item:nth-child(7) {
    grid-column: span 2;
  }

  .project-business-plan__list
    .project-business-plan__item:nth-child(7)
    .project-business-plan__card {
    padding-right: 325px;
  }

  .project-business-plan__card-text {
    font-size: 20px;
  }
}
